{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Sign Up</title>
<style rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"></style>
<style rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"></style>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    Restaurant Sign Up

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form }}
        {{ restaurant_form }}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>