{% extends 'restaurant/sign_base.html' %}
{% load bootstrap3 %}

{% block title %}Sign Up{% endblock %}
{% block heading %}<h1>Restaurant - Sign Up</h1>{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form restaurant_form %}
        {% bootstrap_button "Sign Up" button_type="submit" button_class="btn btn-pink" %}
    </form>
    <a href="{% url 'restaurant-sign-in' %}">Already have an account?</a>
{% endblock %}